{% extends 'base2.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
{% trans 'Reset password' %}
{% endblock title %}



{% block body %}
<div class="p-3 mb-2 bg-dark text-white">
  <div class="mx-auto">
  <h3>{% trans 'Reset password' %}</h3>
  <br>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-block btn-outline-primary" type="submit">{% trans 'Submit' %}</button>
    <br>
    <a href="{% url 'login' %}">{% trans "Return to login page." %}</a>
  </form>
      </div>
</div>
  {% endblock %}
