{% extends "base.html" %}

{% block title %}
Your account
{% endblock title %}

{% block styles %}
{% endblock styles %}

{% block body %}
<div class="card-deck">
  <div class="card text-white bg-dark">
    <div class="card-header">
      Your account
    </div>
    <div class="card-body">
      <h5 class="card-title">Username</h5>
      <p class="card-text">{{ user.username }}</p><br/>
      <h5 class="card-title">Name <small><a href="{% url 'change_name' %}" data-toggle="modal" data-target="#change_name" class="badge badge-pill badge-secondary">Change</a></small></h5>
      <p class="card-text">{{ user.first_name }} {{ user.last_name }}</p><br/>
      <h5 class="card-title">Address e-mail <small><a href="{% url 'change_email' %}" data-toggle="modal" data-target="#change_email" class="badge badge-pill badge-secondary">Change</a></small></h5>
      {% if user.profile.confirmed %}
      <p class="card-text">{{ user.email }} <span class="badge badge-pill badge-success">Confirmed</span></p><br/>
      {% else %}
      <p class="card-text">{{ user.email }}<a href="{% url 'send_confirmation' %}" onclick="sent()" class="badge badge-pill badge-warning"> Not confirmed</a></p><br/>
      {% endif %}
      <small style="color: grey" id="sent"></small>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#delete_account">Delete account</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#change_password">Change password</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-white bg-dark">
    <div class="card-header">
      About you
    </div>
    <div class="card-body">
      Under development
    </div>
    <div class="card-footer">

    </div>
  </div>
  <div class="card text-white bg-dark">
    <div class="card-header">
      Your suggestions:
    </div>
    <div class="card-body">
      {{ user.profile.opinion }}
    </div>
    <div class="card-footer">

    </div>
  </div>
</div>


<div class="text-dark">
  <div class="modal fade" id="delete_account" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="delete_account_label">Delete account?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete your account?</p>
        </div>
        <div class="modal-footer">
          <form method="POST" action="{% url 'delete_account' %}">{% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Yes, delete it."/>
          </form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-dark">
  <div class="modal fade" id="change_password" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="change_password_label">Change password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'change_password' %}">
            {% csrf_token %}

            {{ password_form.as_p }}
            <button type="submit" class="btn btn-secondary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-dark">
  <div class="modal fade" id="change_email" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="change_email_label">Change email address</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'change_email' %}">
            {% csrf_token %}
            <input class="form-control" type="email" name="new_email" size="30" placeholder="New e-mail address" required><br/>
            <button type="submit" class="btn btn-block btn-secondary">Change</button>
          </form>
        </div>
        <div class="modal-footer">
          <p>Confirmation e-mail will be sent to you.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-dark">
  <div class="modal fade" id="change_name" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="change_name_label">Change your name</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'change_name' %}">
            {% csrf_token %}
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="First Name" value="{{ user.first_name }}" name="new_first" size="30" required>
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Last Name" value="{{ user.last_name }}" name="new_last" size="30">
              </div>
            </div><br/>
            <button type="submit" class="btn btn-block btn-secondary">Change</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
{% block bodyend %}
{% if password_fail %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#change_password").modal('show');
    });
</script>
{% elif email_fail %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#change_email").modal('show');
    });
</script>
{% endif %}
<script>
function sent() {
  document.getElementById("sent").innerHTML = "Confirmation email sent.";
}
</script>
{% endblock bodyend %}