{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans 'Learn' %}
{% endblock %}

{% block styles %}
{% load get_obj %}
{% endblock %}

{% block nav_buttons %}
<a class="btn btn-outline-light" href="{% url 'learn' set_id=folder.id %}">{% trans 'Learn' %}</a>
<a class="btn btn-outline-info" href="{% url 'view_folder' set_id=folder.id %}">{% trans 'View' %}</a>
<a class="btn btn-outline-success" href="{% url 'add_multicard' set_id=folder.id %}">{% trans 'Add MultiCard' %}</a>
<a class="btn btn-outline-primary" href="{% url 'edit_multicards' set_id=folder.id %}">{% trans 'Edit MultiCards' %}</a>
<a class="btn btn-outline-warning" href="{% url 'edit_folder' set_id=folder.id %}">{% trans 'Edit Set' %}</a>
{% endblock nav_buttons %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="text-dark">
    <h1 class="display-4">{% trans 'Choose how would you like to learn.' %}</h1>
    </div>
  </div>
</div>

{% if enough %}
    <a class="btn btn-block btn-outline-light" href="{% url 'write' set_id=folder.id %}">{% trans 'Write' %}</a>
    <a class="btn btn-block btn-outline-light" href="{% url 'flashcards' set_id=folder.id %}">{% trans 'Flashcards' %}</a>
{% else %}
  <h2>{% trans 'You do not have enough MultiCards in this set to start learning.' %}</h2>
  <h3>{% trans 'Please create at least three MultiCards.' %}</h3>
  <a class="btn btn-sm btn-success btn-block" href="{% url 'add_multicard' set_id=folder.id %}">{% trans 'Add MultiCard' %}</a>

{% endif %}


{% endblock body %}