{% load i18n %}
{% load static %}

<html>
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        {% block title %}
        {% endblock title %}
    </title>

    {% block head %}
    {% endblock head %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <!-- cookiealert styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
    {% block styles %}
    {% endblock styles %}

</head>
<body>

  <div class={% block background %}"p-3 mb-2 bg-secondary text-white"{% endblock background %}>

<div class="fixed-top">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <div class="row">
        <div class="col">
          <h5 class="text-white h4">Feedback</h5>
        </div>
        <div class="ml-auto" style="max-width: 300px;">
          <form action="{% url 'change_language' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <select class="form-control bg-dark text-white border-0" name="language">
                    {% get_available_languages as LANGUAGES %}
                    {% for language in LANGUAGES %}
                    <option value="{{ language.0 }}" {% if language.0 == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.0|language_name_local }} ({{ language.0 }})
                    </option>
                    {% endfor %}
                </select>
              <div class="input-group-append">
                <input hidden name="url" value="{{ request.path }}"/>
            <input type="submit" class="form-control bg-dark text-white border-0" value="Change language">
              </div>
            </div>

          </form>
        </div>
        </div>
      <span class="text-muted">{% trans "Hello," %}{{user.username}}.</span><br/>
      <span class="text-muted">{% trans "Do you have some brilliant idea what could appear here? Do you have some suggestions to change in the website or found a bug? I would be glad to hear from you!" %}</span>
      <form method="post" action="{% url 'opinion' %}">{% csrf_token %}
        <input type="hidden" name="path" value="{{ request.path }}">
        <br/><input type="text" name="opinion" autocomplete="off" placeholder="{% trans 'Write here and press [Enter].' %}" class="form-control " />

      </form>
    </div>
  </div>
<nav class="navbar navbar-dark bg-dark">
    <a href="{% url 'home' %}"><button type="button" class="btn btn-outline-success my-1">{% trans 'Home' %}</button></a>

    {% block nav_buttons %}
    {% endblock nav_buttons %}

    <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-danger">{% trans 'Log out' %}</button></a>
    <button class="navbar-toggler my-1" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>
</div>
<br/><br/><br/>
    {% block body %}
    {% endblock body %}
   
    <!-- Optional JavaScript -->
    
    <!-- START Bootstrap-Cookie-Alert -->
    <div class="alert text-center cookiealert" role="alert">
        {% blocktrans %}<b>Do you like cookies?</b> We use cookies to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>{% endblocktrans %}

        <button type="button" class="btn btn-primary btn-sm acceptcookies">
            {% trans 'I agree' %}
        </button>
    </div>
    <!-- END Bootstrap-Cookie-Alert -->
    <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
    
    {% block bodyend %}
    {% endblock bodyend %}
</body>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-center">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <h5>GitHub</h5>

            <a href="https://github.com/Solurix/Flashcards-Django"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" width="100" height="100"></a>


      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
<div class="footer-copyright text-center py-3">{% blocktrans %}© 2020 Copyright:<br/>
    Website: Bartosz Lulka<br/>
    Auto translations: Google Translate<br/>
    Style: Bootstrap<br/>
    Run on Django<br/>
  <br/>
  Contact: bartosz.adam.lulka@gmail.com{% endblocktrans %}
</div>


      </div>

    </div>
    <!-- Grid row -->

  </div>

</footer>
<!-- Footer -->
</html>
