{% load i18n %}
<div class="table-responsive">
  <table class="table table-hover table-dark" style="border-collapse:collapse;">
    <thead>
    <tr class="table-light text-dark">
      <td><h5><b>#</b></h5></td>

      <td style="width: 23.5%; ; min-width:140">
        <h5><b>{% trans 'ENGLISH' %}</b></h5>
      </td>

      <td style="width: 23.5%; ; min-width:140">
        <h5><b>{% trans 'POLISH' %}</b></h5>
      </td>

      <td style="width: 23.5%; ; min-width:140">
        <h5><b>{% trans 'JAPANESE' %}</b></h5>
      </td>

      <td style="width: 23.5%; ; min-width:140">
        <h5><b>{% trans 'GERMAN' %}</b></h5>
      </td>

    </tr>
    </thead>


    <tr data-toggle="collapse" data-target="#a523" class="clickable collapse-row collapsed">
      <td><b>1</b></td>


      <td>

        <b>Street</b>

      </td>


      <td>

        <b>Ulica</b>

      </td>


      <td>

        <b>通り</b>

      </td>


      <td>

        <b>Straße</b>

      </td>

    </tr>
    <tr class="table-secondary">
      <td class="hiddenRow"></td>


      <td class="hiddenRow">
        <div id="a523" class="collapse">
          <div class="text-dark">
            <p>{% trans 'Progress' %}: 0 %</p>


          </div>
        </div>
      </td>


      <td class="hiddenRow">
        <div id="a523" class="collapse">
          <div class="text-dark">
            <p>{% trans 'Progress' %}: 0 %</p>

            <p>{% trans 'Auto-translated' %}</p>


          </div>
        </div>
      </td>


      <td class="hiddenRow">
        <div id="a523" class="collapse">
          <div class="text-dark">
            <p>{% trans 'Progress' %}: 0 %</p>

            <p>{% trans 'Auto-translated' %}</p>


            <p>{% trans 'Pronunciation' %}: Tōri</p>


          </div>
        </div>
      </td>


      <td class="hiddenRow">
        <div id="a523" class="collapse">
          <div class="text-dark">
            <p>{% trans 'Progress' %}: 0 %</p>

            <p>{% trans 'Auto-translated' %}</p>


          </div>
        </div>
      </td>


    </tr>

    <tr data-toggle="collapse" data-target="#a524" class="clickable collapse-row collapsed">
      <td><b>2</b></td>


      <td>

        <b>Building</b>

      </td>


      <td>

        <b>Budynek</b>

      </td>


      <td>

        <b>建物</b>

      </td>


      <td>

        <b>Gebäude</b>

      </td>

    </tr>
    <tr class="table-secondary">
      <td class="hiddenRow"></td>


      <td class="hiddenRow">
        <div id="a524" class="collapse">
          <div class="text-dark">
            <p>{% trans 'Progress' %}: 0 %</p>


          </div>
        </div>
      </td>


      <td class="hiddenRow">
        <div id="a524" class="collapse">
          <div class="text-dark">
            <p>{% trans 'Progress' %}: 0 %</p>

            <p>{% trans 'Auto-translated' %}</p>


          </div>
        </div>
      </td>


      <td class="hiddenRow">
        <div id="a524" class="collapse">
          <div class="text-dark">
            <p>{% trans 'Progress' %}: 0 %</p>

            <p>{% trans 'Auto-translated' %}</p>


            <p>{% trans 'Pronunciation' %}: Tatemono</p>


          </div>
        </div>
      </td>


      <td class="hiddenRow">
        <div id="a524" class="collapse">
          <div class="text-dark">
            <p>{% trans 'Progress' %}: 0 %</p>

            <p>{% trans 'Auto-translated' %}</p>


          </div>
        </div>
      </td>


    </tr>

    <tr data-toggle="collapse" data-target="#a525" class="clickable collapse-row collapsed">
      <td><b>3</b></td>


      <td>

        <b>Big city</b>

      </td>


      <td>

        <b>Duże miasto</b>

      </td>


      <td>

        <b>大都市</b>

      </td>


      <td>

        <b>Große stadt</b>

      </td>

    </tr>
    <tr class="table-secondary">
      <td class="hiddenRow"></td>


      <td class="hiddenRow">
        <div id="a525" class="collapse">
          <div class="text-dark">
            <p>{% trans 'Progress' %}: 0 %</p>


          </div>
        </div>
      </td>


      <td class="hiddenRow">
        <div id="a525" class="collapse">
          <div class="text-dark">
            <p>{% trans 'Progress' %}: 0 %</p>

            <p>{% trans 'Auto-translated' %}</p>


          </div>
        </div>
      </td>


      <td class="hiddenRow">
        <div id="a525" class="collapse">
          <div class="text-dark">
            <p>{% trans 'Progress' %}: 0 %</p>

            <p>{% trans 'Auto-translated' %}</p>


            <p>{% trans 'Pronunciation' %}: Daitoshi</p>


          </div>
        </div>
      </td>


      <td class="hiddenRow">
        <div id="a525" class="collapse">
          <div class="text-dark">
            <p>{% trans 'Progress' %}: 0 %</p>

            <p>{% trans 'Auto-translated' %}</p>


          </div>
        </div>
      </td>


    </tr>

    <tr data-toggle="collapse" data-target="#a526" class="clickable collapse-row collapsed">
      <td><b>4</b></td>


      <td>

        <b>Car</b>

      </td>


      <td>

        <b>Samochód</b>

      </td>


      <td>

        <b>車</b>

      </td>


      <td>

        <b>Wagen</b>

      </td>

    </tr>
    <tr class="table-secondary">
      <td class="hiddenRow"></td>


      <td class="hiddenRow">
        <div id="a526" class="collapse show">
          <div class="text-dark">
            <p>{% trans 'Progress' %}: 0 %</p>


          </div>
        </div>
      </td>


      <td class="hiddenRow">
        <div id="a526" class="collapse show">
          <div class="text-dark">
            <p>{% trans 'Progress' %}: 0 %</p>

            <p>{% trans 'Auto-translated' %}</p>


          </div>
        </div>
      </td>


      <td class="hiddenRow">
        <div id="a526" class="collapse show">
          <div class="text-dark">
            <p>{% trans 'Progress' %}: 0 %</p>

            <p>{% trans 'Auto-translated' %}</p>


            <p>{% trans 'Pronunciation' %}: Kuruma</p>


          </div>
        </div>
      </td>


      <td class="hiddenRow">
        <div id="a526" class="collapse show">
          <div class="text-dark">
            <p>{% trans 'Progress' %}: 0 %</p>

            <p>{% trans 'Auto-translated' %}</p>


          </div>
        </div>
      </td>


    </tr>

    <tr data-toggle="collapse" data-target="#a527" class="clickable collapse-row collapsed">
      <td><b>5</b></td>


      <td>

        <b>Space shuttle</b>

      </td>


      <td>

        <b>Prom kosmiczny</b>

      </td>


      <td>

        <b>スペースシャトル</b>

      </td>


      <td>

        <b>Space shuttle</b>

      </td>

    </tr>
    <tr class="table-secondary">
      <td class="hiddenRow"></td>


      <td class="hiddenRow">
        <div id="a527" class="collapse">
          <div class="text-dark">
            <p>{% trans 'Progress' %}: 0 %</p>


          </div>
        </div>
      </td>


      <td class="hiddenRow">
        <div id="a527" class="collapse">
          <div class="text-dark">
            <p>{% trans 'Progress' %}: 0 %</p>

            <p>{% trans 'Auto-translated' %}</p>


          </div>
        </div>
      </td>


      <td class="hiddenRow">
        <div id="a527" class="collapse">
          <div class="text-dark">
            <p>{% trans 'Progress' %}: 0 %</p>

            <p>{% trans 'Auto-translated' %}</p>


            <p>{% trans 'Pronunciation' %}: Supēsushatoru</p>


          </div>
        </div>
      </td>


      <td class="hiddenRow">
        <div id="a527" class="collapse">
          <div class="text-dark">
            <p>{% trans 'Progress' %}: 0 %</p>

            <p>{% trans 'Auto-translated' %}</p>


          </div>
        </div>
      </td>


    </tr>


  </table>
</div>