{% extends 'base2.html' %}
{% load i18n %}
{% block title %}
{% trans 'Server error' %}
{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block body %}

  <div class="card text-white bg-dark">
      <div class="card-header text-center">
            <h1>{% trans "Error 500: Server error" %}</h1>
      </div>
      <div class="card-body text-center">
      <h3>{% trans "Ups, looks like you have done something you weren't supposed to do. If this error occurs again and you don't know why, please contact me." %}</h3>
      </div>
  </div>


{% endblock body %}