{% extends "base.html" %}

{% block title %}
New set
{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block nav_buttons %}
<a class="btn btn-outline-light" href="{% url 'learn' set_id=folder.id %}">Learn</a>
<a class="btn btn-outline-info" href="{% url 'view_folder' set_id=folder.id %}">View</a>
<a class="btn btn-outline-primary" href="{% url 'edit_multicards' set_id=folder.id %}">Edit MultiCards</a>
<a class="btn btn-outline-warning" href="{% url 'edit_folder' set_id=folder.id %}">Edit Set</a>
{% endblock nav_buttons %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="text-dark">
    <h1>Create many MultiCards at once</h1>
    <p class="lead">Here you can create new MultiCards for {{folder.name}}.</p>
    <p class="lead">Insert words or sentences and divide them by character of your choice.</p>
  <a class="btn btn-outline-dark" href="{% url 'add_multicard' set_id=folder.id %}">You can add multicard with all details here.</a>

    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="text-dark">
    <form method="POST" action=".">{% csrf_token %}
        <div class="table-responsive-xl">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <select class="custom-select" name="language">
                    {% for k, v in langs %}
                        <option class="dropdown-item" value={{ k }}>{{ v|title }}</option>
                    {% endfor %}
                 </select>
            </div>
        <input type="text" name="separator" class="form-control" maxlength="10" placeholder="Text separator">
        </div>

            <textarea name="for_translate" cols="40" rows="10" class="form-control" maxlength="400"
            required placeholder="Write or paste words/sentences from which you want to create cards.
Divide them by separator of your choice (if you won't provide separator, words will be divided by spaces).
Example: dad*mom*I like bananas*monday"></textarea>
    <button class="btn btn-success btn-block">Create</button>
        </div>
    </form>
    </div>
</div>



{% endblock body %}