{% extends "base.html" %}

{% block title %}
New set
{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="text-dark">
    <h1 class="display-4">Create new MultiCard</h1>
    <p class="lead">Here you can create new MultiCard for {{folder.name}}.</p>
    <p class="lead">Only one word of the first language is required. The rest is optional.</p>
      <a class="btn btn-sm btn-outline-success" href="{% url 'add_many' set_id=folder.id %}">You can add many words at once here.</a>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="text-dark">
    <form method="POST" action=".">{% csrf_token %}
        <div class="table-responsive-xl">
    <table class="table-sm">
      <tr>
        <td>
          <p><b>Definition</b>
        </td>
        <td colspan="{{length}}">
          <input type="text" name="comment" class="form-control" maxlength="400" placeholder="Definition for this MultiCard">
        </td>
      </tr>
      <tr>
        <td>
          <p><b>Comment</b>
        </td>
        <td colspan="{{length}}">
          <input type="text" name="definition" class="form-control" maxlength="400" placeholder="Comment for this MultiCard">
        </td>
        </tr>
          <th><p><b>Language</b></p></th>
        {% for k, v in langs %}
        <th><h5><b>{{ v|upper }}</b></h5></th>
        {% endfor %}
      <tr>
        <td><b>Word</b></td>
        {% for k, v in langs %}
        <td>
          {% if forloop.counter == 1 %}
          <input type="text" name="main{{k}}" class="form-control" maxlength="50" required placeholder="{{v|title}} word">
          {% else %}
          <input type="text" name="main{{k}}" class="form-control" maxlength="50" placeholder="{{v|title}} word">
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      <tr>
        <td><b>Pronunciation</b></td>
        {% for k, v in langs %}
        <td>
          <input type="text" name="pronunciation{{k}}" class="form-control" maxlength="50" placeholder="{{v|title}} pronunciation">
        </td>
        {% endfor %}
      </tr>
      <tr>
        <td><b>Synonym</b></td>
        {% for k, v in langs %}
        <td>
          <input type="text" name="synonyms{{k}}" class="form-control" maxlength="50" placeholder="{{v|title}} synonym">
        </td>
        {% endfor %}
      </tr>
      <tr>
        <td><b>Comment</b></td>
        {% for k, v in langs %}
        <td>
          <input type="text" name="comment{{k}}" class="form-control" maxlength="50" placeholder="{{v|title}} comment">
        </td>
        {% endfor %}
      </tr>
      </table>
        </div>

    <button class="btn btn-success">Create</button>
    </form>
    </div>
</div>



{% endblock body %}