{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans 'Edit MultiCards' %}
{% endblock %}

{% block styles %}
<style>
.hiddenRow {
    padding: 0 !important;
}
</style>
<script>
$('.collapse').on('show.bs.collapse', function () {
    $('.collapse.in').collapse('hide');
});
</script>

{% load get_obj %}

{% endblock %}

{% block nav_buttons %}
<a class="btn btn-outline-info" href="{% url 'view_folder' set_id=folder.id %}">{% trans 'View' %}</a>
<a class="btn btn-outline-light" href="{% url 'learn' set_id=folder.id %}">{% trans 'Learn' %}</a>
<a class="btn btn-outline-warning" href="{% url 'edit_folder' set_id=folder.id %}">{% trans 'Edit Set' %}</a>
<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#staticBackdrop">{% trans 'Add MultiCard' %}</button>
<button type="submit" form="form" class="btn btn-outline-success">{% trans 'Save changes' %}</button>
{% endblock nav_buttons %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="text-dark">
        <h1 class="display-5">{% blocktrans with name=folder.name %}Here are your MultiCards in {{name}}.{% endblocktrans %}</h1>
        <p class="lead">{{ folder.comment }}</p>
        <p>{% trans 'Use CTRL+F to quickly find your cards.' %}</p>
        <a class="btn btn-outline-dark" href="{% url 'edit_multicards' set_id=folder.id %}">{% trans 'You can change the view back to single edit here.' %}</a>
    </div>
  </div>
</div>

<form method="POST" id="form" action=".">{% csrf_token %}
<div class="table-responsive">
 <table class="table table-sm table-light">
    <thead class="thead-dark">
        <th style="width: 1%"><h5><b>
            #
        </b></h5></th>
          {% for k, v in folder.get_langs %}
          <th class="text-center" style="min-width:140">
              <h5><b>
                  {{ v|upper }}
              </b></h5>
          </th>
          {% endfor %}
    </thead>
     {% for multicard in folder.multicard_set.all %}
        <tr>
            <td style="width:1%">
                <b><br/>{{ forloop.counter }}.</b>
            </td>
            {% for lang in folder.langs_keys %}
                {% get_card lang multicard as card %}
                    <td style="width: {{width}}%">
                        <div class="text-center"><b><br/>{{ card.main }}</b></div>
                    </td>
            {% endfor %}
        </tr>
        <tr class="table-active table-borderless">
            <td style="width:1%">

                <span class="form-control-plaintext text-center font-weight-bold pt-0"><a data-toggle="tooltip" title="Word">W</a></span>
                <span class="form-control-plaintext text-center font-weight-bold pt-3"><a data-toggle="tooltip" title="Pronunciation">P</a></span>
                <span class="form-control-plaintext text-center font-weight-bold pt-3"><a data-toggle="tooltip" title="Synonym">S</a></span>
                <span class="form-control-plaintext text-center font-weight-bold pt-3"><a data-toggle="tooltip" title="Comment">C</a></span>
            </td>
            {% for k, v in langs %}
             {% get_card k multicard as card %}
              <td>
                  <p>
                    <input type="text" name="main{{k}}{{multicard.id}}" class="form-control form-control-sm" maxlength="50" required value="{{card.main}}">
                  </p>
                  <p>
                    <input type="text" name="pronunciation{{k}}{{multicard.id}}" class="form-control form-control-sm" maxlength="50" value="{{card.pronunciation}}">
                  </p>
                  <p>
                    <input type="text" name="synonyms{{k}}{{multicard.id}}" class="form-control form-control-sm" maxlength="50" value="{{card.synonyms}}">
                  </p>
                  <p>
                    <input type="text" name="comment{{k}}{{multicard.id}}" class="form-control form-control-sm" maxlength="50" value="{{card.comment}}">
                  </p>
              </td>
            {% endfor %}
        </tr>
        <tr>
          <td colspan="{{length|add:'1'}}">
            <div class="row" style="width:99%">
              <div class="col-auto">
                <input type="checkbox" class="btn btn-outline-danger" value=1 name="delete{{multicard.id}}" id="d{{multicard.id}}">
                  <label style="color:#d51e25" for="d{{multicard.id}}"><b>Delete</b></label>
                </div>
                  <div class="col-sm">
                    <p class="font-weight-bold"><span class="form-control-plaintext">Comment</span>
                    <input type="text" name="comment{{multicard.id}}" class="form-control" maxlength="400" placeholder="{% trans 'Comment for this MultiCard' %}" value="{{multicard.comment}}">
                  </p>
                  </div>
                  <div class="col-sm">
                    <p class="font-weight-bold"><span class="form-control-plaintext">Definition</span>
                      <input type="text" name="definition{{multicard.id}}" class="form-control" maxlength="400" placeholder="{% trans 'Definition for this MultiCard' %}" value="{{multicard.definition}}">
                  </p>
                  </div>

              </div>
          </td>
        </tr>
     <tr style="background-color:#292b2c">
        <td colspan="{{length|add:'1'}}"><br/></td>
     </tr>
        {% endfor %}
 </table>
 <button class="btn btn-success btn-block"><b>Save changes</b></button>
</div>
</form>

{% include 'Cards/add_mcards_modal.html' %}
{% endblock %}