{% extends "base.html" %}

{% block title %}
Edit MultiCards
{% endblock %}

{% block styles %}
<style>
.hiddenRow {
    padding: 0 !important;
}
</style>
<script>
$('.collapse').on('show.bs.collapse', function () {
    $('.collapse.in').collapse('hide');
});
</script>

{% load get_obj %}

{% endblock %}

{% block nav_buttons %}
<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#staticBackdrop">Add MultiCard</button>

{% endblock nav_buttons %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="text-dark">
    <h1 class="display-5">Here are your MultiCards in {{folder.name}}.</h1>
    <p class="lead">{{ folder.comment }}</p>
    <a class="btn btn-outline-dark" href="{% url 'edit_all_multicards' set_id=folder.id %}">You can change view to edit all you cards at once here.</a>
    </div>
  </div>
</div>


        <table class="table table-hover table-secondary" style="border-collapse:collapse;">


            <thead>
            <th style="width: 5%"><h5><b>#</b></h5></th>
              {% for k, v in folder.get_langs %}
                <th style="width: {{width}}%">
                    <h5><b>{{ v|upper }}</b></h5>
                </th>
              {% endfor %}
            </thead>
        </table>

        {% for multicard in folder.multicard_set.all %}
        <form method="POST" action="{% url 'edit_multicards_save' set_id=folder.id m_card_id=multicard.id %}">{% csrf_token %}
        <table class="table table-hover table-sm table-secondary" style="border-collapse:collapse;">
            <tr data-toggle="collapse" data-target="#a{{multicard.id}}" class="clickable collapse-row collapsed table-light">
                <td>
                    <b>{{ forloop.counter }}.</b>
                </td>
              {% for lang in folder.langs_keys %}
                {% get_card lang multicard as card %}
                <td style="width: {{width}}%">

                    <b>{{ card.main }}</b>

                </td>
              {% endfor %}
            </tr>
            <tr class="table-active">
                <td class="hiddenRow"><div id="a{{multicard.id}}" class="collapse">
                    <br/>
                <p class="font-weight-bold"><span class="form-control-plaintext">Word</span></p>
                <p class="font-weight-bold"><span class="form-control-plaintext">Pronunc.</span></p>
                <p class="font-weight-bold"><span class="form-control-plaintext">Synonym</span></p>
                <p class="font-weight-bold"><span class="form-control-plaintext">Comment</span></p>


                </div></td>
              {% for k, v in langs %}
              {% get_card k multicard as card %}
              <td class="hiddenRow">
              <div id="a{{multicard.id}}" class="collapse">
                  <br/>
                  <p>
                    {% if forloop.counter == 1 %}
                      <input type="text" name="main{{k}}{{multicard.id}}" class="form-control" maxlength="50" required placeholder="Word" value="{{card.main}}">
                    {% else %}
                      <input type="text" name="main{{k}}{{multicard.id}}" class="form-control" maxlength="50" placeholder="Word" value="{{card.main}}">
                    {% endif %}
                  </p>
                  <p>
                    <input type="text" name="pronunciation{{k}}{{multicard.id}}" class="form-control" maxlength="50" placeholder="Pronunciation" value="{{card.pronunciation}}">
                  </p>
                  <p>
                    <input type="text" name="synonyms{{k}}{{multicard.id}}" class="form-control" maxlength="50" placeholder="Synonym" value="{{card.synonyms}}">
                  </p>
                  <p>
                    <input type="text" name="comment{{k}}{{multicard.id}}" class="form-control" maxlength="50" placeholder="Comment" value="{{card.comment}}">
                  </p>
              </div>
              </td>
              {% endfor %}
            </tr>
            <tr class="table-active">
                <td class="hiddenRow" colspan="{{length|add:'1'}}">
                    <div id="a{{multicard.id}}" class="collapse">
                        <nav class="navbar bg-dark">
                            <p class="font-weight-bold"><span class="form-control-plaintext text-white">Comment</span>
                              <input type="text" name="comment{{multicard.id}}" class="form-control" maxlength="400" placeholder="Comment for this MultiCard" value="{{multicard.comment}}">
                            </p>
                            <p class="font-weight-bold"><span class="form-control-plaintext text-white">Definition</span>
                                <input type="text" name="definition{{multicard.id}}" class="form-control" maxlength="400" placeholder="Definition for this MultiCard" value="{{multicard.definition}}">
                            </p>
                                <input type="submit" class="btn btn-outline-warning" value="Save changes" data-toggle="tooltip" data-placement="bottom" title="To see changes refresh the page.">

                            <form></form>
                            <a href="."><button type="button" class="btn btn-outline-info">Refresh</button></a>
                            <form method="POST" action="{% url 'delete_multicards' set_id=folder.id m_card_id=multicard.id %}">{% csrf_token %}
                                <br/>
                                <input type="submit" class="btn btn-outline-danger" value="Delete this MultiCard">
                            </form>

                        </nav>
                    </div>
                </td>
            </tr>
        {% endfor %}

    </table>
    </form>


{% include 'Cards/add_mcards_modal.html' %}
{% endblock %}