{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans 'No access' %}
{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block body %}

  <div class="container">
  <div class="container text-center">
      <br/>
      <br/>
      <br/>
    <h3>{% trans 'This folder is currently being updated.' %}</h3>
<h5>{% trans 'Please wait for all automatic translations to finish before changing this folder.' %}</h5>
    <br/>
              <a class="btn btn-block btn-outline-light" href="{% url 'refresh_update' set_id=folder.id %}">{% trans 'Refresh' %}</a>
      <br/>
      <br/>
  </div>
  </div>


{% endblock body %}
