{% extends "base.html" %}

{% block title %}
Welcome {{ user }}
{% endblock %}

{% block styles %}
<style>
.hiddenRow {
    padding: 0 !important;
}
</style>
<script>
$('.collapse').on('show.bs.collapse', function () {
    $('.collapse.in').collapse('hide');
});
</script>

{% load get_obj %}

{% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="text-dark">
    <h1 class="display-4">Here are your sets to study, {{ user }}.</h1>
    <p class="lead">Click on the set name to view its details.</p>
    </div>
  </div>
</div>

  {% for folder in user.cardfolder_set.all %}
    <table class="table table-hover table-dark" style="border-collapse:collapse;">
      <thead>
        <tr data-toggle="collapse" data-target="#b{{folder.id}}" class="clickable collapse-row collapsed">
          <th colspan="{{folder.langs_no|add:'-2'}}">
            <h3>
              {{ forloop.counter }}. {{ folder.name }}
            </h3>

          </th>
          <th class="hiddenRow" colspan=2>
              <div id="b{{folder.id}}" class="collapse">
                <a class="btn btn-sm btn-outline-success" href="{% url 'add_multicard' set_id=folder.id %}">Add MultiCard</a>
                <a class="btn btn-sm btn-outline-primary" href="{% url 'edit_multicards' set_id=folder.id %}">Edit MultiCards</a>
                <a class="btn btn-sm btn-outline-warning" href="{% url 'edit_folder' set_id=folder.id %}">Edit Set</a>
                <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#c{{folder.id}}">Delete set</button>
              </div>
          </th>
        </tr>

        <tr>
          <th class="hiddenRow" colspan="{{folder.langs_no}}">
              <div id="b{{folder.id}}" class="collapse">
                <h6>{{ folder.comment }}</h6>
              </div>
            </th>
        </tr>

        <tr>
          {% for k, v in folder.get_langs %}
            <td class="hiddenRow">
              <div id="b{{folder.id}}" class="collapse">
                <h5><b>{{ v|upper }}</b></h5>
              </div>
            </td>
          {% endfor %}

                <div class="text-dark">
                  <div class="modal fade" id="c{{folder.id}}" tabindex="-1" role="dialog" aria-labelledby="c{{folder.id}}Label">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="c{{folder.id}}Label">Delete {{folder.name}}?</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to delete set "{{folder.name}}"?</p>
                          <p>This set consists of {{folder.multicard_set.all|length}} MultiCards.</p>
                        </div>
                        <div class="modal-footer">
                          <form method="POST" action="/cards/delete_set/{{folder.id}}/">{% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="Yes, delete it."/>
                          </form>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               </div>


        </tr>
        </thead>
      {% if folder.multicard_set.all %}
        {% for multicard in folder.multicard_set.all %}
        <tr data-toggle="collapse" data-target="#a{{multicard.id}}" class="clickable collapse-row collapsed">
          {% for lang in folder.langs_keys %}
          {% get_card lang multicard as card %}

            <td class="hiddenRow">
              <div id="b{{folder.id}}" class="collapse">
                <b>{{ card.main }}</b>
              </div>
            </td>
          {% endfor %}
        </tr>
        <tr class="table-secondary">

          {% for lang in folder.langs_keys %}
          {% get_card lang multicard as card %}
          <td class="hiddenRow">
              <div id="b{{folder.id}}" class="collapse">
                <div id="a{{multicard.id}}" class="collapse">
                  <div class="text-dark">

                  {% if card.automated %}
                    <p>Auto-translated</p>
                  {% endif %}
                  <p>Score: {{ card.score }} %</p>
                  {% if card.pronunciation %}
                    <p>Pronunciation: {{ card.pronunciation }}</p>
                  {% endif %}
                  {% if card.synonyms %}
                    <p>Synonym: {{ card.synonyms }}</p>
                  {% endif %}
                  {% if card.definition %}
                    <p>Definition: {{ card.definition }}</p>
                  {% endif %}
                  {% if card.comment %}
                    <p>Comment: {{ card.comment }}</p>
                  {% endif %}
                    </i>
                </div>
              </div>
          </td>
          {% endfor %}
          </div>
        </tr>
        {% endfor %}
      {% else %}
        <th>
          <td colspan="{{folder.langs_no}}">There are no cards for this set.</td>
        </th>
      {% endif %}
    </table>
  <hr/>
  {% endfor %}

<nav class="navbar fixed-bottom navbar-dark bg-dark">

    <a href="{% url 'add_folder' %}"><button type="button" class="btn btn-outline-secondary">New set</button></a>
</nav>
{% endblock %}