{% extends "base.html" %}

{% block title %}
{% load i18n %}
{% blocktrans  %} Welcome {{ user }} {% endblocktrans %}
{% endblock %}

{% block styles %}
<style>
.hiddenRow {
    padding: 0 !important;
}
</style>
<script>
$('.collapse').on('show.bs.collapse', function () {
    $('.collapse.in').collapse('hide');
});
</script>
{% load get_obj %}

{% endblock %}

{% block nav_buttons %}
<a href="{% url 'account_overview' %}"><button type="button" class="btn btn-outline-warning">{% trans "Account" %}</button></a>
<a href="{% url 'public_sets' %}"><button type="button" class="btn btn-outline-primary">{% trans "Public sets" %}</button></a>
<a href="{% url 'add_folder' %}"><button type="button" class="btn btn-outline-secondary">{% trans "New set" %}</button></a>
{% endblock nav_buttons %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="text-dark">
      {% if user.cardfolder_set.all %}
        <h1>{% blocktrans with user=user %}Here are your sets to study, {{ user }}. {% endblocktrans %}</h1>
        <p class="lead">{% trans "Click on the set name to view its details." %}</p>
      {% else %}
        <h1>{% trans "Here will appear your CardSets, " %}{{ user }}.</h1>
        <p class="lead">
          <a href="{% url 'add_folder' %}"><button type="button" class="btn btn-outline-secondary my-1">{% trans "Create a new set" %}</button></a>
          <a href="{% url 'public_sets' %}"><button type="button" class="btn btn-outline-primary">{% trans "or copy from public ones." %}</button></a>
        </p>
      {% endif %}
    </div>
  </div>
</div>

  {% for folder in user.cardfolder_set.all %}
  <div>
    <table class="table table-hover table-dark table-borderless" style="border-collapse:collapse; margin-bottom: 0px">
      <thead>
        <tr data-toggle="collapse" data-target="#b{{folder.id}}" class="clickable collapse-row collapsed">
          <th colspan="{{folder.langs_no|add:'0'}}">
            <div class="row">
              <div class="col-4">
                <h3>
                 {{ folder.name }}
                </h3>
              </div>
              <div class="col-md-8">
                <div id="b{{folder.id}}" class="collapse">
                  <div class="text-right">
                    <a class="btn btn-sm btn-outline-light mb-1" href="{% url 'learn' set_id=folder.id %}">{% trans "Learn" %}</a>
                    <a class="btn btn-sm btn-outline-info mb-1" href="{% url 'view_folder' set_id=folder.id %}">{% trans "View" %}</a>
                    <a class="btn btn-sm btn-outline-success mb-1" href="{% url 'add_multicard' set_id=folder.id %}">{% trans "Add MultiCard" %}</a>
                    <a class="btn btn-sm btn-outline-primary mb-1" href="{% url 'edit_multicards' set_id=folder.id %}">{% trans "Edit MultiCards" %}</a>
                    <a class="btn btn-sm btn-outline-warning mb-1" href="{% url 'edit_folder' set_id=folder.id %}">{% trans "Edit Set" %}</a>
                    <a class="btn btn-sm btn-outline-secondary mb-1" href="{% url 'copy_folder' set_id=folder.id %}">{% trans "Copy" %}</a>
                    <button type="button" class="btn btn-sm btn-outline-danger mb-1" data-toggle="modal" data-target="#c{{folder.id}}">{% trans "Delete" %}</button>
                  </div>
                </div>
              </div>
            </div>
          </th>
        </tr>

        <tr>
          <th class="hiddenRow" colspan="{{folder.langs_no}}">
              <div id="b{{folder.id}}" class="collapse">
                <h6>{{ folder.comment }}</h6>
              </div>
            </th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-dark table-borderless" style="border-collapse:collapse;">
      <thead>
        <tr>
          {% for k, v in folder.get_langs %}
            <td class="hiddenRow" style="width: {{folder.get_langs|width}}%; min-width:140">
              <div id="b{{folder.id}}" class="collapse ml-2">
                <h5><b>{{ v|upper }}</b></h5>
              </div>
            </td>
          {% endfor %}
        </tr>
        </thead>
      {% if folder.multicard_set.all %}
        {% for multicard in folder.multicard_set.all %}
        <tr class="table-secondary text-dark">
          {% for lang in folder.langs_keys %}
          {% get_card lang multicard as card %}

            <td class="hiddenRow">
              <div id="b{{folder.id}}" class="collapse">
                {% if not card.main %}
                <a href="{% url 'repair_translations' set_id=folder.id %}" data-toggle="tooltip" title='{% trans "Page needs to be refreshed to see the changes. If new translations does not seem to appear, Click me." %}'>{% trans 'loading...' %}</a>
                {% elif card.main == 'Translation error' %}
                <a href="{% url 'repair_translations' set_id=folder.id %}" data-toggle="tooltip" title="{% trans 'Looks like a translation error have occurred. Click me to repeat translation process.' %}">{% trans 'Translation error' %}</a>
                {% else %}
                  <b>{{ card.main }}</b>
                {% endif %}
              </div>
            </td>
          {% endfor %}
          <td style="width:0.5%; white-space: nowrap;" class="hiddenRow">
            <div id="xb{{folder.id}}" class="collapse">
              .
            </div>
          </td>
        </tr>
        {% endfor %}
      {% else %}
        <tr class="table-secondary text-dark">
        <td colspan="{{folder.langs_no}}" class="hiddenRow">
          <div id="b{{folder.id}}" class="collapse">
            <b> {% trans "There are no cards in this set." %}</b>
          </div>
        </td>
          <td style="width:0.5%; white-space: nowrap;" class="hiddenRow">
            <div id="xb{{folder.id}}" class="collapse">
              .
            </div>
          </td>
        </tr>
      {% endif %}
    </table>
  </div>
  <hr/>

<div class="text-dark">
  <div class="modal fade" id="c{{folder.id}}" tabindex="-1" role="dialog" aria-labelledby="c{{folder.id}}Label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="c{{folder.id}}Label">{% trans "Delete" %} {{folder.name}}?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{% trans "Are you sure you want to delete set " %}"{{folder.name}}"?</p>
          {% if folder.multicard_set.all %}
          <p>{% blocktrans with folder.multicard_set.all|length as length %}This set consists of {{length}} MultiCards.{% endblocktrans %}</p>
          {% endif %}
        </div>
        <div class="modal-footer">
          <form method="POST" action="{% url 'delete_folder' set_id=folder.id %}">{% csrf_token %}
            <input type="submit" class="btn btn-danger" value="{% trans 'Yes, delete it.' %}"/>
          </form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Abort" %}</button>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endfor %}

{% endblock %}

{% block bodyend %}
{% endblock %}