{% extends "base.html" %}

{% block title %}
Public sets
{% endblock %}

{% block styles %}
<style>
.hiddenRow {
    padding: 0 !important;
}
</style>
<script>
$('.collapse').on('show.bs.collapse', function () {
    $('.collapse.in').collapse('hide');
});
</script>

{% load get_obj %}

{% endblock %}

{% block nav_buttons %}

{% endblock nav_buttons %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="text-dark">
    <h1 class="display-4">Here are public sets.</h1>
    <p class="lead">Click on the set name to view its details and copy it.</p>
    </div>
  </div>
</div>

  {% for folder in folders %}
    <table class="table table-hover table-dark table-borderless" style="border-collapse:collapse;">
      <thead>
        <tr data-toggle="collapse" data-target="#b{{folder.id}}" class="clickable collapse-row collapsed">
          <th colspan="{{folder.langs_no|add:'-3'}}">
            <h3>
              {{ forloop.counter }}. {{ folder.name }}
            </h3>

          </th>
          <th class="hiddenRow" colspan=3>
              <div id="b{{folder.id}}" class="collapse">
                <a class="btn btn-sm btn-outline-info" href="{% url 'view_folder_public' set_id=folder.id %}">View</a>
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'copy_folder' set_id=folder.id %}">Copy Set</a>
              </div>
          </th>
        </tr>

        <tr>
          <th class="hiddenRow" colspan="{{folder.langs_no}}">
              <div id="b{{folder.id}}" class="collapse">
                <h6>{{ folder.comment }}</h6>
              </div>
            </th>
        </tr>

        <tr>
          {% for k, v in folder.get_langs %}
            <td class="hiddenRow" style="width: {{folder.get_langs|width}}%">
              <div id="b{{folder.id}}" class="collapse">
                <h5><b>{{ v|upper }}</b></h5>
              </div>
            </td>
          {% endfor %}
        </tr>
        </thead>
      {% if folder.multicard_set.all %}
        {% for multicard in folder.multicard_set.all %}
        <tr class="table-secondary text-dark">
          {% for lang in folder.langs_keys %}
          {% get_card lang multicard as card %}

            <td class="hiddenRow">
              <div id="b{{folder.id}}" class="collapse">
                {% if not card.main %}
                <b>loading...</b>
                {% else %}
                  <b>{{ card.main }}</b>
                {% endif %}
              </div>
            </td>
          {% endfor %}
        </tr>
        {% endfor %}
      {% else %}
        <th colspan="{{folder.langs_no}}">
          There are no cards for this set.
        </th>
      {% endif %}
    </table>
  <hr/>
  {% endfor %}

{% endblock %}