{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{folder.name}}
{% endblock %}

{% block styles %}
<style>
.hiddenRow {
    padding: 0 !important;
}
</style>
<script>
$('.collapse').on('show.bs.collapse', function () {
    $('.collapse.in').collapse('hide');
});
</script>

{% load get_obj %}

{% endblock %}

{% block nav_buttons %}
<a class="btn btn-outline-light" href="{% url 'learn' set_id=folder.id %}">{% trans 'Learn' %}</a>
<a class="btn btn-outline-success" href="{% url 'add_multicard' set_id=folder.id %}">{% trans 'Add MultiCard' %}</a>
<a class="btn btn-outline-primary" href="{% url 'edit_multicards' set_id=folder.id %}">{% trans 'Edit MultiCards' %}</a>
<a class="btn btn-outline-warning" href="{% url 'edit_folder' set_id=folder.id %}">{% trans 'Edit Set' %}</a>
{% endblock nav_buttons %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="text-dark">
    <h1 class="display-4">{{ folder.name }}</h1>
    <p class="lead">{{ folder.comment }}</p>
    </div>
  </div>
</div>

{% if enough %}
<div class="text-center">
  <h3>{% trans 'Learn' %}</h3>
</div>
<div class="row">
  <div class="col">
    <a class="btn btn-block btn-outline-light" href="{% url 'write' set_id=folder.id %}">{% trans 'Write' %}</a>
  </div>
  <div class="col">
    <a class="btn btn-block btn-outline-light" href="{% url 'flashcards' set_id=folder.id %}">{% trans 'Flashcards' %}</a>
  </div>
</div>
{% else %}
  <h2>{% trans 'You do not have enough MultiCards in this set to start learning.' %}</h2>
  <h3>{% trans 'Please create at least three MultiCards.' %}</h3>
  <a class="btn btn-sm btn-success btn-block" href="{% url 'add_multicard' set_id=folder.id %}">{% trans 'Add MultiCard' %}</a>
{% endif %}
<br/>
<div class="table-responsive">
  <table class="table table-hover table-dark" style="border-collapse:collapse;">
    <thead>
      <tr class="table-light text-dark">
        <td><h5><b>#</b></h5></td>
        {% for k, v in folder.get_langs %}
          <td style="width: {{folder.get_langs|width}}%; ; min-width:140">
              <h5><b>{{ v|upper }}</b></h5>
          </td>
        {% endfor %}
      </tr>
      </thead>
    {% if folder.multicard_set.all %}
      {% for multicard in folder.multicard_set.all %}
      <tr data-toggle="collapse" data-target="#a{{multicard.id}}" class="clickable collapse-row collapsed">
        <td><b>{{forloop.counter}}</b></td>
        {% for lang in folder.langs_keys %}
        {% get_card lang multicard as card %}

          <td>
              {% if not card.main %}
                <a href="{% url 'repair_translations' set_id=folder.id %}" data-toggle="tooltip" title='{% trans "Page needs to be refreshed to see the changes. If new translations does not seem to appear, Click me." %}'>{% trans 'loading...' %}</a>
                {% elif card.main == 'Translation error' %}
                <a href="{% url 'repair_translations' set_id=folder.id %}" data-toggle="tooltip" title="{% trans 'Looks like a translation error have occurred. Click me to repeat translation process.' %}">{% trans 'Translation error' %}</a>
                {% else %}
                  <b>{{ card.main }}</b>
                {% endif %}
          </td>
        {% endfor %}
      </tr>
      <tr class="table-secondary">
      <td class="hiddenRow"></td>
        {% for lang in folder.langs_keys %}
        {% get_card lang multicard as card %}
        <td class="hiddenRow">
              <div id="a{{multicard.id}}" class="collapse">
                <div class="text-dark">
                  <p>{% trans 'Progress:' %} {{ card.score }} %</p>
                {% if card.automated %}
                  <p>Auto-translated</p>
                {% endif %}
                {% if card.pronunciation %}
                  <p>{% trans 'Pronunciation:' %} {{ card.pronunciation }}</p>
                {% endif %}
                {% if card.synonyms %}
                  <p>{% trans 'Synonym:' %} {{ card.synonyms }}</p>
                {% endif %}
                {% if card.definition %}
                  <p>{% trans 'Definition:' %} {{ card.definition }}</p>
                {% endif %}
                {% if card.comment %}
                  <p>{% trans 'Comment:' %} {{ card.comment }}</p>
                {% endif %}
              </div>
            </div>
        </td>
        {% endfor %}

      </tr>
      {% endfor %}
    {% else %}
      <th colspan="{{folder.langs_no}}">
        {% trans 'There are no cards for this set.' %}
      </th>
    {% endif %}
  </table>
  <div class="p-3 mb-2 bg-dark text-white">
    <div class="row text-center">
      <div class="col">
        <a class="btn btn-outline-warning" href="{% url 'reset_progress' set_id=folder.id %}">{% trans 'Reset Progress' %}</a>
      </div>
      <div class="col">
        {% if folder.public %}
          <a class="btn btn-outline-primary" href="{% url 'make_public' set_id=folder.id %}">{% trans 'Make private' %}</a>
        {% else %}
          <a class="btn btn-outline-primary" href="{% url 'make_public' set_id=folder.id %}">{% trans 'Make public' %}</a>
        {% endif %}
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#c{{folder.id}}">{% trans 'Delete set' %}</button>
      </div>
    </div>
  </div>
</div>


<div class="text-dark">
  <div class="modal fade" id="c{{folder.id}}" tabindex="-1" role="dialog" aria-labelledby="c{{folder.id}}Label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="c{{folder.id}}Label">{% blocktrans with folder=folder.name %}Delete {{folder}}?{% endblocktrans %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{% blocktrans with folder=folder.name %}Are you sure you want to delete set "{{folder}}"?{% endblocktrans %}</p>
          <p>{% blocktrans with length=folder.multicard_set.all|length %}This set consists of {{length}} MultiCards.{% endblocktrans %}</p>
        </div>
        <div class="modal-footer">
          <form method="POST" action="{% url 'delete_folder' set_id=folder.id %}">{% csrf_token %}
            <input type="submit" class="btn btn-danger" value="{% trans 'Yes, delete it.' %}"/>
          </form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block bodyend %}

{% endblock bodyend %}