{% extends "base.html" %}

{% block title %}
{{folder.name}}
{% endblock %}

{% block styles %}
<style>
.hiddenRow {
    padding: 0 !important;
}
</style>
<script>
$('.collapse').on('show.bs.collapse', function () {
    $('.collapse.in').collapse('hide');
});
</script>

{% load get_obj %}

{% endblock %}

{% block nav_buttons %}
<a class="btn btn-sm btn-outline-info" href="{% url 'play' set_id=folder.id %}">Learn</a>
<a class="btn btn-sm btn-outline-success" href="{% url 'add_multicard' set_id=folder.id %}">Add MultiCard</a>
<a class="btn btn-sm btn-outline-primary" href="{% url 'edit_multicards' set_id=folder.id %}">Edit MultiCards</a>
<a class="btn btn-sm btn-sm btn-outline-warning" href="{% url 'edit_folder' set_id=folder.id %}">Edit Set</a>
<button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#c{{folder.id}}">Delete set</button>
{% endblock nav_buttons %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="text-dark">
    <h1 class="display-4">{{ folder.name }}</h1>
    <p class="lead">{{ folder.comment }}</p>
    </div>
  </div>
</div>

    <table class="table table-hover table-dark" style="border-collapse:collapse;">
      <thead>
        <tr class="table-light text-dark">
          <td><h5><b>#</b></h5></td>
          {% for k, v in folder.get_langs %}
            <td style="width: {{folder.get_langs|width}}%">
                <h5><b>{{ v|upper }}</b></h5>
            </td>
          {% endfor %}
        </tr>
        </thead>
      {% if folder.multicard_set.all %}
        {% for multicard in folder.multicard_set.all %}
        <tr data-toggle="collapse" data-target="#a{{multicard.id}}" class="clickable collapse-row collapsed">
          <td><b>{{forloop.counter}}</b></td>
          {% for lang in folder.langs_keys %}
          {% get_card lang multicard as card %}

            <td>
                {% if not card.main %}
                <b>loading...</b>
                {% else %}
                  <b>{{ card.main }}</b>
                {% endif %}
            </td>
          {% endfor %}
        </tr>
        <tr class="table-secondary">
        <td class="hiddenRow"></td>
          {% for lang in folder.langs_keys %}
          {% get_card lang multicard as card %}
          <td class="hiddenRow">
                <div id="a{{multicard.id}}" class="collapse">
                  <div class="text-dark">
                  <p>Score: {{ card.score }} %</p>
                  {% if card.automated %}
                    <p>Auto-translated</p>
                  {% endif %}
                  {% if card.pronunciation %}
                    <p>Pronunciation: {{ card.pronunciation }}</p>
                  {% endif %}
                  {% if card.synonyms %}
                    <p>Synonym: {{ card.synonyms }}</p>
                  {% endif %}
                  {% if card.definition %}
                    <p>Definition: {{ card.definition }}</p>
                  {% endif %}
                  {% if card.comment %}
                    <p>Comment: {{ card.comment }}</p>
                  {% endif %}
                </div>
              </div>
          </td>
          {% endfor %}

        </tr>
        {% endfor %}
      {% else %}
        <th colspan="{{folder.langs_no}}">
          There are no cards for this set.
        </th>
      {% endif %}
    </table>
  <hr/>

<div class="text-dark">
  <div class="modal fade" id="c{{folder.id}}" tabindex="-1" role="dialog" aria-labelledby="c{{folder.id}}Label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="c{{folder.id}}Label">Delete {{folder.name}}?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete set "{{folder.name}}"?</p>
          <p>This set consists of {{folder.multicard_set.all|length}} MultiCards.</p>
        </div>
        <div class="modal-footer">
          <form method="POST" action="/cards/delete_set/{{folder.id}}/">{% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Yes, delete it."/>
          </form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}