{% extends "base.html" %}

{% block title %}
{{folder.name}}
{% endblock %}

{% block styles %}
<style>
.hiddenRow {
    padding: 0 !important;
}
</style>
<script>
$('.collapse').on('show.bs.collapse', function () {
    $('.collapse.in').collapse('hide');
});
</script>

{% load get_obj %}

{% endblock %}

{% block nav_buttons %}
<a class="btn btn-outline-secondary" href="{% url 'copy_folder' set_id=folder.id %}">Copy Set</a>
<a href="{% url 'public_sets' %}"><button type="button" class="btn btn-outline-primary">Public sets</button></a>
{% endblock nav_buttons %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="text-dark">
    <h1 class="display-4">{{ folder.name }}</h1>
    <p class="lead">{{ folder.comment }}</p>
    </div>
  </div>
</div>
  <div class="table-responsive">
    <table class="table table-hover table-dark" style="border-collapse:collapse;">
      <thead>
        <tr class="table-light text-dark">
          <td><h5><b>#</b></h5></td>
          {% for k, v in folder.get_langs %}
            <td style="width: {{folder.get_langs|width}}%; ; min-width:140">
                <h5><b>{{ v|upper }}</b></h5>
            </td>
          {% endfor %}
        </tr>
        </thead>
      {% if folder.multicard_set.all %}
        {% for multicard in folder.multicard_set.all %}
        <tr data-toggle="collapse" data-target="#a{{multicard.id}}" class="clickable collapse-row collapsed">
          <td><b>{{forloop.counter}}</b></td>
          {% for lang in folder.langs_keys %}
          {% get_card lang multicard as card %}

            <td>
                {% if not card.main %}
                <b>loading...</b>
                {% else %}
                  <b>{{ card.main }}</b>
                {% endif %}
            </td>
          {% endfor %}
        </tr>
        <tr class="table-secondary">
        <td class="hiddenRow"></td>
          {% for lang in folder.langs_keys %}
          {% get_card lang multicard as card %}
          <td class="hiddenRow">
                <div id="a{{multicard.id}}" class="collapse">
                  <div class="text-dark">
                  {% if card.automated %}
                    <p>Auto-translated</p>
                  {% endif %}
                  {% if card.pronunciation %}
                    <p>Pronunciation: {{ card.pronunciation }}</p>
                  {% endif %}
                  {% if card.synonyms %}
                    <p>Synonym: {{ card.synonyms }}</p>
                  {% endif %}
                  {% if card.definition %}
                    <p>Definition: {{ card.definition }}</p>
                  {% endif %}
                  {% if card.comment %}
                    <p>Comment: {{ card.comment }}</p>
                  {% endif %}
                </div>
              </div>
          </td>
          {% endfor %}

        </tr>
        {% endfor %}
      {% else %}
        <th colspan="{{folder.langs_no}}">
          There are no cards for this set.
        </th>
      {% endif %}
    </table>
  </div>
  <hr/>

{% endblock %}